* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
}

window#waybar {
  /* background: rgba(20, 20, 20, 0.9); */
  background: #222222;
  color: #ffffff;
}

#workspaces button {
  padding: 0 8px;
  color: #ffffff;
  background: #222222;
  border-radius: 0;
}

#workspaces button:hover {
	background: #282828;
}

#workspaces button.active {
  color: #ffffff;
  background: #333333;
  /* border-radius: 6px; */
}

#clock, #battery, #bluetooth, #pulseaudio, #network, #tray, #custom-powermenu, #custom-notifs {
  padding: 0 10px;
}

#pulseaudio {
	font-size: 16px;
}

#tray {
	padding: 0 5px 0 5px;
}

#tray * {
	padding-right: 10px;
}

#custom-powermenu {
	padding-right: 15px;
}
